/* Шрифты макета */

/* font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */

:root {
  --primary-color: #303030;
  --second-color: #ffffff;
  --accent-color: #ff6c00;
  --text-primary-color: #555555;
  --text-second-color: #9da4bd;
}

body {
  font-family: 'Open Sans', 'Raleway', sans-serif;
}

/* <-----------utils-----------> */

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* <-----------header-----------> */

.header {
  background-color: dimgray;
}

.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--second-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--second-color);
}

.header-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  color: var(--second-color);
  border: 1px solid var(--accent-color);
  border-radius: 25px;
}

.header-btn:hover,
.header-btn:focus {
  background: var(--accent-color);
}

/* <-----------main-----------> */

/* <-----------hero-----------> */

.hero {
}

.sub-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}

.title {
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  color: var(--second-color);
  letter-spacing: 0.05em;

  background-color: dimgray;
}

.hero-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  color: var(--text-second-color);
  letter-spacing: 0.02em;
}

.hero-list {
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--primary-color);
  letter-spacing: 0.2em;
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}

/* <-----------about-----------> */

.about {
}

.about-pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--primary-color);
}

.about-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  color: var(--primary-color);
  letter-spacing: 0.05em;
}

.about-after-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  color: var(--text-primary-color);
  letter-spacing: 0.02em;
}

.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.85;
  color: var(--text-primary-color);
  letter-spacing: 0.02em;
}

.about-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: var(--primary-color);
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  letter-spacing: 0.09em;
}

.about-btn:hover,
.about-btn:focus {
  color: var(--second-color);
  background: var(--accent-color);
}

/* <-----------services and prices-----------> */

.services-pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}

.services-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  color: var(--second-color);
  letter-spacing: 0.05em;
}

.services-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  color: var(--text-second-color);
  letter-spacing: 0.02em;
}

.services-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  text-align: right;
  color: var(--text-second-color);
  letter-spacing: 0.02em;
}

.services-button {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: var(--second-color);
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  letter-spacing: 0.09em;
}

/* <-----------traditionals-----------> */

.traditionals-numbers {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  text-align: center;
  color: var(--primary-color);
  letter-spacing: 0.05em;
}

.traditionals-symbols {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.37;
  text-align: center;
  color: var(--accent-color);
}

.traditionals-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--primary-color);
}

.traditionals-pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--primary-color);
}

.traditionals-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  color: var(--primary-color);
  letter-spacing: 0.05em;
}

.traditionals-after-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  color: var(--text-primary-color);
  letter-spacing: 0.02em;
}

/* <-----------barbers-----------> */

.barbers-pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--primary-color);
}

.barbers-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  color: var(--primary-color);
  letter-spacing: 0.05em;
}

.barbers-list {
}
.barbers-item {
}
.barbers-img {
}

.barbers-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
  color: var(--primary-color);
  letter-spacing: 0.02em;
}

.barbers-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.35;
  text-align: center;
  color: var(--accent-color);
  letter-spacing: 0.02em;
}

/* <-----------works-----------> */

.works-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--primary-color);
}

.works-list {
}

.works-item {
}

.works-img {
}

/* <-----------booking-----------> */

.booking-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  color: var(--second-color);
  letter-spacing: 0.05em;
}

/* <-----------contacts-----------> */

.contacts-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  color: var(--second-color);
  letter-spacing: 0.05em;
}

.contacts-list {
}

.contacts-item {
}

.contacts-address {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.66;
  color: var(--text-second-color);
  letter-spacing: 0.02em;
}

.contacts-tel {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  color: var(--text-second-color);
  letter-spacing: 0.02em;
}

.contacts-mail {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  text-decoration-line: underline;
  color: var(--text-second-color);
  letter-spacing: 0.02em;
}

.contacts-after-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--second-color);
}

.contacts-working-hours {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  color: var(--text-second-color);
  letter-spacing: 0.02em;
}

/* <-----------footer-----------> */

.footer-copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--text-second-color);
  letter-spacing: 0.2em;
}

.footer-list {
}

.footer-item {
}

.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--primary-color);
  letter-spacing: 0.2em;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
