/* Шрифты макета */

/* font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */

:root {
  --primary-color: #303030;
  --second-color: #ffffff;
  --accent-color: #ff6c00;
}

body {
  font-family: 'Open Sans', 'Raleway', sans-serif;
  letter-spacing: 0.1em;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
/* <-----------header-----------> */

.header {
  background-color: dimgray;
}

.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  color: #ffffff;
}

.header-link:hover,
.header-link:focus {
  color: #ff6c00;
}

.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #ffffff;
}

.header-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid #ff6c00;
  border-radius: 25px;
}

.header-btn:hover,
.header-btn:focus {
  background: #ff6c00;
}

/* <-----------main-----------> */

/* <-----------hero-----------> */

.hero {
}

.sub-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}

.title {
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  color: #ffffff;

  background-color: dimgray;
}

.hero-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  color: #9da4bd;
}

.hero-list {
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: #303030;
}

.hero-link:hover,
.hero-link:focus {
  color: #ff6c00;
}

/* <-----------about-----------> */

.about {
}

.about-pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: #303030;
}

.about-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  color: #303030;
}

.about-after-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  color: #555555;
}

.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.85;
  color: #555555;
}

.about-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #303030;
  border: 1px solid #ff6c00;
  border-radius: 25px;
}

.about-btn:hover,
.about-btn:focus {
  color: #ffffff;
  background: #ff6c00;
}

/* <-----------services and prices-----------> */

.services-pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}

.services-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  color: #ffffff;
}

.services-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  color: #9da4bd;
}

.services-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  text-align: right;
  color: #9da4bd;
}

.services-button {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid #ff6c00;
  border-radius: 25px;
}

/* <-----------traditionals-----------> */

.traditionals-numbers {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  text-align: center;
  color: #303030;
}

.traditionals-symbols {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.37;
  text-align: center;
  color: #ff6c00;
}

.traditionals-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}

.traditionals-pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: #303030;
}

.traditionals-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  color: #303030;
}

.traditionals-after-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  color: #555555;
}

/* <-----------barbers-----------> */

.barbers-pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: #303030;
}

.barbers-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  color: #303030;
}

.barbers-list {
}
.barbers-item {
}
.barbers-img {
}

.barbers-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
  color: #303030;
}

.barbers-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.35;
  text-align: center;
  color: #ff6c00;
}

/* <-----------works-----------> */

.works-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: #303030;
}
.works-list {
}
.works-item {
}
.works-img {
}
