* {
  box-sizing: border-box;
}

/* Шрифты макета */

/* font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */

:root {
  --primary-color: #303030;
  --second-color: #ffffff;
  --accent-color: #ff6c00;
  --text-primary-color: #555555;
  --text-second-color: #9da4bd;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul {
  margin: 0px;
  padding-left: 0px;
}

button {
  cursor: pointer;
  background-color: transparent;
}

img {
  display: block;
}

body {
  font-family: 'Open Sans', 'Raleway', sans-serif;
}

.container {
  width: 1200px;
  padding: 0px 15px;
  margin: 0px auto;
}

/* <-----------utils-----------> */

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* <-----------header-----------> */

.header {
  background-color: dimgray;
}

.header-container {
  display: flex;
  align-items: center;
}

/* можно еще так */

/* header .container {
  display: flex;
  align-items: center;
} */

.header-logo {
  padding: 32px 0px;
  display: block;
  margin-right: 130px;
}

.header-list {
  display: flex;
}

.header-item:not(:last-child) {
  margin-right: 30px;
}

/* можно еще так */

/* .header-list li + li {
  margin-left: 30px;
} */

.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--second-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-contact {
  margin-left: auto;
}

.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--second-color);
}

.header-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  color: var(--second-color);
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  margin-left: 40px;
  min-width: 160px;
  height: 40px;
}

.header-btn:hover,
.header-btn:focus {
  background: var(--accent-color);
}

/* <-----------main-----------> */

/* <-----------hero-----------> */

.hero {
}

.hero-container {
  display: flex;
}

.hero-right {
  padding: 184px 526px 208px 100px;
  flex-grow: 1;
}

.hero-pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

.hero-title {
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  color: var(--second-color);
  letter-spacing: 0.05em;
  margin-bottom: 20px;

  background-color: dimgray;
}

.hero-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  color: var(--text-second-color);
  letter-spacing: 0.02em;
  max-width: 370px;
}

.hero-list {
  width: 100px;
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--primary-color);
  letter-spacing: 0.2em;
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}

/* <-----------about-----------> */

.about {
  padding: 120px 0px;
}

.about-container {
  display: flex;
}

.about-list {
  display: flex;
}

.about-item:not(:last-child) {
  margin-right: 30px;
}

.about-wrap {
  margin-left: 30px;
}

.about-pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.about-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  color: var(--primary-color);
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

.about-after-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  color: var(--text-primary-color);
  letter-spacing: 0.02em;
  margin-bottom: 20px;
}

.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.85;
  color: var(--text-primary-color);
  letter-spacing: 0.02em;
  margin-bottom: 42px;
}

.about-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: var(--primary-color);
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  letter-spacing: 0.09em;
  min-width: 160px;
  height: 40px;
}

.about-btn:hover,
.about-btn:focus {
  color: var(--second-color);
  background: var(--accent-color);
}

/* <-----------services and prices-----------> */

.prices {
  padding: 120px 0px;
}

.prices-pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

.prices-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  color: var(--second-color);
  letter-spacing: 0.05em;
  margin-bottom: 44px;

  background-color: #555555;
}

.prices-list-wrap {
  display: flex;
  gap: 30px;
}

.prices-list {
  border: solid tomato;

  padding: 30px 20px;
  flex-grow: 1;
  width: 570px;
}

.prices-item {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.prices-item:last-child {
  margin-bottom: 0px;
}

.prices-elem {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  /* text-align: right; */
  color: var(--text-second-color);
  letter-spacing: 0.02em;
}

.prices-button {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: var(--second-color);
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  letter-spacing: 0.09em;

  margin: 0px auto;
  display: block;
  margin-top: 44px;
  min-width: 160px;
  height: 40px;
}

/* <-----------benefits-----------> */

.benefits {
  padding: 120px 0px;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  width: 370px;
}

.benefits-item {
  width: 170px;
  height: 133px;
  padding: 20px 24px;
  text-align: center;

  background: #f7f7f7;
}

.benefits-item:nth-child(2n + 1) {
  margin-right: 30px;
}

.benefits-item:nth-child(2n) {
  margin-top: 30px;
}

.benefits-numbers {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  text-align: center;
  color: var(--primary-color);
  letter-spacing: 0.05em;
  display: inline-block;
}

.benefits-symbols {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.37;
  text-align: center;
  color: var(--accent-color);
}

.benefits-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--primary-color);
}

.benefits-pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.benefits-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  color: var(--primary-color);
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

.benefits-after-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  color: var(--text-primary-color);
  letter-spacing: 0.02em;
}

/* <-----------barbers-----------> */

.barbers {
  padding: 120px 0px;
}

.barbers-pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.barbers-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  color: var(--primary-color);
  letter-spacing: 0.05em;
  margin-bottom: 44px;
}

.barbers-list {
  display: flex;
  /* gap: 30px; */
}
.barbers-item {
  width: calc((100% - 60px) / 3);
}

/* можно еще так */

/* .barbers-item {
  flex-basis: calc((100% - 60px) / 3);
} */

.barbers-item:not(:last-child) {
  margin-right: 30px;
}

.barbers-img {
}

.barbers-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  /* text-align: center; */
  color: var(--primary-color);
  letter-spacing: 0.02em;
  margin-top: 30px;
  margin-bottom: 8px;
}

.barbers-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.35;
  /* text-align: center; */
  color: var(--accent-color);
  letter-spacing: 0.02em;
}

/* <-----------works-----------> */

.gallery {
  padding: 120px 0px;
}

.gallery-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.gallery-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 44px;
}

.gallery-list {
  display: flex;
}

.gallery-item {
  margin-right: 30px;
}

.gallery-item:last-child {
  margin-right: 0px;
}

.gallery-img {
}

/* <-----------booking-----------> */

.form-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  color: var(--second-color);
  letter-spacing: 0.05em;

  background-color: #555555;
}

/* <-----------contacts-----------> */

.contacts-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  color: var(--second-color);
  letter-spacing: 0.05em;

  background-color: #555555;
}

.contacts-list {
}

.contacts-item {
  font-style: normal;
}

.contacts-address {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.66;
  color: var(--text-second-color);
  letter-spacing: 0.02em;
}

.contacts-tel {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  color: var(--text-second-color);
  letter-spacing: 0.02em;
}

.contacts-mail {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  text-decoration-line: underline;
  color: var(--text-second-color);
  letter-spacing: 0.02em;
}

.contacts-after-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--second-color);
}

.contacts-working-hours {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  color: var(--text-second-color);
  letter-spacing: 0.02em;
}

/* <-----------footer-----------> */

.footer-container {
  display: flex;
  align-items: center;
}

.footer-copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--text-second-color);
  letter-spacing: 0.2em;
  padding: 56px 0px;
  /* margin-left: auto; */
}

.footer-list-container {
  display: flex;
  margin-left: auto;
}

.footer-list {
  display: flex;
}

.footer-item {
  margin-left: 40px;
}

.footer-item:first-child {
  margin-left: 0px;
}

.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--primary-color);
  letter-spacing: 0.2em;
  text-decoration: none;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
