* {
  box-sizing: border-box;
}

/* Шрифты макета */

/* font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */

$primary-color: #303030;
$second-color: #ffffff;
$accent-color: #ff6c00;
$text-primary-color: #555555;
$text-second-color: #9da4bd;
$white-bg-color: #f7f7f7;
$black-bg-color: #111319;

$primary-fonts: 'Open Sans';
$accent-fonts: 'Raleway';

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul {
  margin: 0px;
  padding-left: 0px;
}

button {
  cursor: pointer;
  background-color: transparent;
}

img {
  display: block;

  @media screen and (min-width: 480px) {
    width: 100%;
    height: auto;
  }
}

body {
  font-family: 'Open Sans', 'Raleway', sans-serif;
}

.container {
  width: 100%;
  padding: 0px 15px;
  margin: 0px auto;

  @media screen and (min-width: 480px) {
    width: 448px;
  }

  @media screen and (min-width: 768px) {
    width: 720px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

/* <-----------utils-----------> */

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.pre-title {
  display: flex;
  align-items: center;
}

.pre-title::before {
  content: '';
  width: 60px;
  height: 1px;
  display: block;
  background: currentColor;
  margin-right: 20px;
}

/* <-----------header-----------> */

.header {
  position: absolute;
  width: 100%;
}

.header__container {
  display: flex;
  align-items: center;
}

/* можно еще так */

// header .container {
//   display: flex;
//   align-items: center;
// }

.header__logo {
  padding: 32px 0px;
  margin-right: 130px;
}

.logo {
  display: block;
}

.header__list {
  display: flex;
}

.header__item:not(:last-child) {
  margin-right: 30px;
}

/* можно еще так */

/* .navigation__list li + li {
  margin-left: 30px;
} */

.header__link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: $second-color;

  &--active:hover,
  &--active:focus {
    color: $accent-color;
  }
}

.header__contact {
  margin-left: auto;
}

.header__tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: $second-color;
}

.header__button {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  color: $second-color;
  border: 1px solid $accent-color;
  border-radius: 25px;
  margin-left: 40px;
  min-width: 160px;
  height: 40px;
  margin-right: 20px;

  &--active:hover,
  &--active:focus {
    background: $accent-color;
  }
}

/* <-----------main-----------> */

/* <-----------hero-----------> */

.hero {
}

.hero__container {
  display: flex;
}

.hero__wrapper {
  width: 100px;
  display: flex;
  align-items: flex-end;
  padding-left: 27px;
  padding-bottom: 40px;
}

.hero__list {
  display: flex;
  align-items: center;
  transform: rotate(-90deg) translateY(100%);
  transform-origin: bottom left;
  gap: 40px;

  &--static::before {
    content: '';
    width: 60px;
    height: 1px;
    background: currentColor;
  }
}

.hero__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: $primary-color;
  letter-spacing: 0.2em;

  &--active:hover,
  &--active:focus {
    color: $accent-color;
  }
}

.hero__wrap {
  padding: 272px 526px 208px 100px;
  flex-grow: 1;
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: $primary-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero__pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

.hero__title {
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  color: $second-color;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

.hero__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  color: $text-second-color;
  letter-spacing: 0.02em;
  max-width: 370px;
}

/* <-----------about-----------> */

.about {
  padding: 120px 0px;
}

.about__container {
  display: flex;
}

.about__list {
  display: flex;
}

.about__item:not(:last-child) {
  margin-right: 30px;
}

.about__wrap {
  margin-left: 30px;
}

.about__pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: $primary-color;
  margin-bottom: 20px;
}

.about__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  color: $primary-color;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

.about__after-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  color: $text-primary-color;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
}

.about__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.85;
  color: $text-primary-color;
  letter-spacing: 0.02em;
  margin-bottom: 42px;
}

.about__button {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: $primary-color;
  border: 1px solid $accent-color;
  border-radius: 25px;
  letter-spacing: 0.09em;
  min-width: 160px;
  height: 40px;

  &--active:hover,
  &--active:focus {
    color: $second-color;
    background: $accent-color;
  }
}

/* <-----------services and prices-----------> */

.prices {
  padding: 120px 0px;

  background-image: url(../images/prices-bg.png);
  background-color: $black-bg-color;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  margin: 0 auto;
}

.prices__pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

.prices__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  color: $second-color;
  letter-spacing: 0.05em;
  margin-bottom: 44px;
}

.prices__list-wrap {
  display: flex;
  gap: 30px;
}

.prices__list-left {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.prices__list-right {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.prices__list {
  /* border: solid tomato; */

  padding: 30px 20px;
  flex-grow: 1;
  width: 570px;
}

.prices__item {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  &--pseudo:last-child {
    margin-bottom: 0px;
  }

  &--static::after {
    content: '';
    height: 1px;
    width: 60px;
    background: rgba(157, 164, 189, 0.12);
    flex-grow: 1;
    margin: 0px 12px;
  }
}

.prices__elem {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  /* text-align: right; */
  color: $text-second-color;
  letter-spacing: 0.02em;

  &--pseudo:last-child {
    order: 1;
  }
}

.prices__button {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: $second-color;
  border: 1px solid $accent-color;
  border-radius: 25px;
  letter-spacing: 0.09em;

  margin: 0px auto;
  display: block;
  margin-top: 44px;
  min-width: 160px;
  height: 40px;
}

/* <-----------benefits-----------> */

.slogan {
  padding: 120px 0px;
}

.slogan__container {
  display: flex;
}

.slogan__wrapper {
  width: calc(50% + 15px);
  padding-left: 100px;
}

.slogan__list {
  display: flex;
  flex-wrap: wrap;
  width: 370px;
}

.slogan__item {
  width: 170px;
  height: 133px;
  padding: 20px 24px;
  text-align: center;

  background: $white-bg-color;

  &--pseudo:nth-child(2n + 1) {
    margin-right: 30px;
  }

  &--pseudo:nth-child(2n) {
    margin-top: 30px;
  }
}

.slogan__numbers {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  text-align: center;
  color: $primary-color;
  letter-spacing: 0.05em;
  display: flex;
  justify-content: center;

  &--static::after {
    content: '+';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.37;
    text-align: center;
    color: $accent-color;
  }
}

.slogan__text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: $primary-color;
}

.slogan__wrap {
  padding-top: 9px;
  padding-right: 70px;
  padding-left: 130px;
}

.slogan__pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: $primary-color;
  margin-bottom: 20px;
}

.slogan__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  color: $primary-color;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  padding-right: 70px;
}

.slogan__after-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  color: $text-primary-color;
  letter-spacing: 0.02em;
}

/* <-----------barbers-----------> */

.barbers {
  padding: 120px 0px;
  background-color: $white-bg-color;
}

.barbers__pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: $primary-color;
  margin-bottom: 20px;
}

.barbers__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  color: $primary-color;
  letter-spacing: 0.05em;
  margin-bottom: 44px;
}

.barbers__list {
  display: flex;
  /* gap: 30px; */
}
.barbers__item {
  width: calc((100% - 60px) / 3);

  &--pseudo:not(:last-child) {
    margin-right: 30px;
  }
}

/* можно еще так */

/* .barbers-item {
  flex-basis: calc((100% - 60px) / 3);
} */

.barbers__link {
  &--active:hover .barbers__cover-text {
    transform: translateY(0);
    transition: transform 400ms linear;
  }

  &--active:focus .barbers__cover-text {
    transform: translateY(0);
    transition: transform 400ms linear;
  }
}

.barbers__thumb {
  position: relative;
  overflow: hidden;
}

.barbers__img {
}

.barbers__cover-text {
  position: absolute;
  top: 0;
  color: $second-color;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  background-color: rgba(255, 106, 0, 0.489);
  padding: 40px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 300ms linear;
}

.barbers__name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  /* text-align: center; */
  color: $primary-color;
  letter-spacing: 0.02em;
  margin-top: 30px;
  margin-bottom: 8px;
  text-align: center;
}

.barbers__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.35;
  /* text-align: center; */
  color: $accent-color;
  letter-spacing: 0.02em;
  margin-bottom: 30px;
  text-align: center;
}

.barbers__soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.barbers__soc-items {
  width: 44px;
  height: 44px;
  margin-right: 10px;

  &--pseudo:last-child {
    margin-right: 0px;
  }
}

.barber__soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: $second-color;
  color: $primary-color;

  &--active:hover {
    background-color: $second-color;
    color: $accent-color;
  }
}

/* .barber-soc-link:hover .barbers-soc-icons {
  fill: var(--accent-color);
} */

/* вариация фокуса на иконку и бегграунд */

.barbers__soc-icons {
  fill: currentColor;
}

/* <-----------works-----------> */

.gallery {
  padding: 120px 0px;
}

.gallery__visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.gallery__text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: $primary-color;
  margin-bottom: 44px;
}

.gallery__list {
  display: flex;
}

.gallery__item {
  margin-right: 30px;

  &--pseudo:last-child {
    margin-right: 0px;
  }
}

.gallery__img {
}

/* <-----------contact-wrap-----------> */

.block-wrapper {
  display: flex;
  background: $black-bg-color;
  background-image: url(../images/contacts-bg.png);
  background-repeat: no-repeat;
  background-position: center right calc(50% - 15px - 392px);
  background-size: auto 100%;
}

.block-wrapper__container {
  display: flex;
}

/* <-----------booking-form-----------> */

.booking {
  width: calc(50% + 15px);
  padding-top: 130px;
  padding-bottom: 120px;
}

.booking__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  color: $second-color;
  letter-spacing: 0.05em;
  margin-bottom: 44px;
}

.form__input {
  width: 270px;
  height: 24px;

  &--pseudo:first-child {
    margin-right: 30px;
  }
}

.form__textarea {
  width: 570px;
  height: 76px;
  resize: none;
}

.form__styles {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.4);
  margin-bottom: 44px;
  cursor: pointer;
  transition: border-bottom-color 500ms linear;

  &--active::placeholder {
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.4);
    transition: color 500ms linear;
  }

  &--active:focus,
  &--active:hover {
    outline: transparent;
    border-bottom-color: $second-color;
  }

  &--active:focus::placeholder,
  &--active:hover::placeholder {
    color: $second-color;
  }
}

.form__button {
  width: 160px;
  height: 40px;
  border: 1px solid $accent-color;
  border-radius: 25px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: $second-color;
}

/* <-----------address-contacts-----------> */

.address {
  padding-top: 130px;
  padding-bottom: 120px;
  padding-left: 100px;
}

.address__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  color: $second-color;
  letter-spacing: 0.05em;
  margin-bottom: 40px;
}

.contacts__list {
}

.contacts__item {
  font-style: normal;
  margin-bottom: 20px;

  &--pseudo:last-child {
    margin-bottom: 0px;
  }
}

.contacts__address {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.66;
  color: $text-second-color;
  letter-spacing: 0.02em;
}

.contacts__tel {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  color: $text-second-color;
  letter-spacing: 0.02em;
}

.contacts__mail {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  text-decoration-line: underline;
  color: $text-second-color;
  letter-spacing: 0.02em;
}

.address__after-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: $second-color;
  margin-top: 70px;
  margin-bottom: 20px;
}

.address__working-hours {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  color: $text-second-color;
  letter-spacing: 0.02em;
}

/* <-----------footer-----------> */

.footer__container {
  display: flex;
  align-items: center;
}

.footer__copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: $text-second-color;
  letter-spacing: 0.2em;
  padding: 56px 0px;
  /* margin-left: auto; */
}

.footer__wrapper {
  display: flex;
  margin-left: auto;
}

.footer__list {
  display: flex;
  align-items: center;

  &--static::before {
    content: '';
    width: 60px;
    height: 1px;
    background: currentColor;
    margin-right: 40px;
  }
}

.footer__item {
  margin-left: 40px;

  &--pseudo:first-child {
    margin-left: 0px;
  }
}

.footer__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: $primary-color;
  letter-spacing: 0.2em;
  text-decoration: none;

  &--active:hover,
  &--active:focus {
    color: $accent-color;
  }
}

/* <-----------modal window-----------> */

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(85, 85, 85, 0.545);
  transition: opacity 300ms linear, visibility 300ms linear;
}

.backdrop.is-hidden .modal {
  transform: translate(-50% -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 500px;
  height: 700px;
  background-color: $second-color;
  border-radius: 5px;
  padding: 35px;
  transition: transform 500ms;
}

.modal__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid $text-second-color;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  color: $primary-color;
  text-align: center;
  margin-bottom: 10px;
}

.modal__wrap label {
  display: block;
  margin-bottom: 10px;
}

.modal__input {
  width: 100%;
  height: 40px;
  padding-left: 40px;
  /* margin-bottom: 28px; */
  background: $second-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  color: $primary-color;
  font-size: 14px;
  line-height: 1.2;

  &--attribute::placeholder {
    color: $accent-color;
    font-weight: 700;
  }

  &--compulsory:required {
    border-color: $text-second-color;
  }

  &--active:focus,
  &--active:hover {
    border-color: $accent-color;
    outline: transparent;
  }

  &--active:focus + svg,
  &--active:hover + svg {
    fill: $accent-color;
  }

  &--pseudo:not(:focus):not(:placeholder-shown):valid {
    background-color: rgba(0, 255, 0, 0.2);
  }

  &--pseudo:not(:focus):not(:placeholder-shown):invalid {
    background-color: rgba(255, 0, 0, 0.2);
  }
}

input[type='radio']:checked + label {
  color: $accent-color;
}

.modal__input-wrapper {
  position: relative;
  margin-bottom: 28px;
}

.modal__input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.modal__text {
  width: 100%;
  height: 80px;
  max-height: 250px;
  background: $second-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  resize: vertical;
  font-size: 14px;
  line-height: 1.2;
  padding: 10px;
  padding-left: 40px;

  &--attribute::placeholder {
    color: $accent-color;
    font-weight: 700;
  }
}
